# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
env/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project specific
whisper.cpp/build/
whisper.cpp/models/
modules/tts/data/audio_cache/
modules/stt/models/
data/audio_cache/
data/vector_db/
*.wav
config/settings.yaml

# Logs
*.log
logs/
log/

# OS specific
.DS_Store
Thumbs.db
/models
